<div class="card">
    <img [src]="imgUrl" class="card-img-top" alt="...">
    
    <div class="card-body">
        <h5 class="card-title">{{configs['spayee:title'] |uppercase}} -MRP <span>{{configs['spayee:price']}}</span></h5>
        
        <span><b>course Date: </b> {{courseDate|date:'MM/dd/y'}} </span>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
             
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
