<p>categories works!</p>
<div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Categories
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Big Data</a></li>
        <li><a class="dropdown-item" href="#">Cloud Computing</a></li>
        <li><a class="dropdown-item" href="#">Devops</a></li>
        <li><a class="dropdown-item" href="#">Machine Learning</a></li>
        <li><a class="dropdown-item" href="#">Micro Services</a></li>
        <li><a class="dropdown-item" href="#">Programming</a></li>
        <li><a class="dropdown-item" href="#">Test Your Knowlegde</a></li>
        <li><a class="dropdown-item" href="#">Testing</a></li>
    </ul>
</div>
