

<!-- <div class="container"
    style=" margin-top:0%;width: 100%;height: 700px; background-size:cover ;background-image: url(https://thumbs.dreamstime.com/z/time-to-travel-words-modern-board-white-wooden-background-top-view-overhead-above-flat-lay-copy-space-158971719.jpg">
</div> -->

<!-- <div class="container"
    style="width: 30%; border: 1px gray;background-color:white;  margin-top: -40%; height: 0px; margin-right:90px;"> 
    <form>
        <div style="margin-top:25%; text-align: center; color: blue; font-size: 25px;">
            <b>Login Here! </b>
        </div>
        <br>
        <br>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"><b>Email address</b></label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email"
                aria-describedby="emailHelp" required>

        </div>
        <br>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"><b>Password</b></label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
        </div>
        <br>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"><b>Check me out</b></label>
            &nbsp;&nbsp; <a href="#">forget password</a>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>

    </form>

</div> -->
<!-- <br>
<div class="container" style=" background-size:cover; height: 600px; padding: -2px;background-image: url(https://img.freepik.com/free-vector/paper-art-airplane-flying-from-mobile-phone-holiday-concept_34103-332.jpg?size=626&ext=jpg&ga=GA1.2.609849508.1649337730);">
</div>
    <div class="container" style="width: 25%;margin-top: -35%; margin-right: 15%;">
   
<form>
    <div  style="margin-top:25%; text-align: center; color: blue; font-size: 25px;">
        <b>Login Here! </b>
    </div>
    <br>
    <br>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"><b>Email address</b></label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email"
            aria-describedby="emailHelp" required>

    </div>
    <br>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"><b>Password</b></label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
    </div>
    <br>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1"><b>Check me out</b></label>
        &nbsp;&nbsp; <a href="#">forget password</a>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>

</form>
</div> -->