<!-- <p>flights works!</p>
<div style="background-color: rgb(11, 11, 89);">
    <div class="body" style="background-color:rgb(11, 11, 89) ;">
        <div class="container" style="background-color: rgb(13, 13, 81); height: 20px; width: 50%;">
            <br> <br> <br>
            <h3 class="text-light" style="font-style:oblique;"><b>Hyderabad -> Singapore Flights</b></h3>
            <br>
            <div class="border">
                <br>
                <div class=" container">
                    <div class="form-check"> <input class="form-check-input" type="radio" name="flexRadioDefault"
                            id="flexRadioDefault1" style="margin-left: 15%; margin-top:6%"> <label
                            class="form-check-label" for="flexRadioDefault1" style="width: 80%; margin: top 5%;">
                            <div class="container">
                                <h4>06:30 </h4>
                                <p>Hyderabad</p>
                                <div style="margin-left: 18%; margin-top:-8%">
                                    <a style="border-top: 3px solid rgb(245, 166, 34);">
                                        1 stop via madhurawada
                                    </a>
                                    <h6 style="margin-left: 5%; margin-top:-9%">07h 35m</h6>
                                    <h4 style="margin-left: 38%; margin-top:7%">12:35</h4>
                                    <p style="margin-left: 38%; margin-top:-2%">Singapore </p>
                                    <p style="margin-left: 38%; margin-top:-3%">Changi</p> <img
                                        src="https://s3.envato.com/files/4f6bf2be-6984-4c53-82b4-c86bba063a7e/inline_image_preview.jpg"
                                        width="7%" style="margin-left: -45% ;margin-top:-5%">
                                    <p style="margin-left: -45%">
                                        Emirates</p>
                                    <button class="btn btn-success rounded-pill"
                                        style="margin-left: 60%; margin-top:-20% ;width: 25%;">Select</button>
                                </div>
                            </div>
                        </label>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
        <div class="container" style=" height: 20px; width: 49%;">
            <br> <br> <br>
            <div class="border">
                <br>
                <div class=" container">
                    <div class="form-check"> <input class="form-check-input" type="radio" name="flexRadioDefault"
                            id="flexRadioDefault1" style="margin-left: 15%; margin-top:6%"> <label
                            class="form-check-label" for="flexRadioDefault1" style="width: 80%; margin-top:5%">
                            <div class="container">
                                <h4>21:00</h4>
                                <p>Hyderabad</p>
                                <div style="margin-left: 18%; margin-top:-8%">
                                    <a style="border-top: 3px solid rgb(245, 166, 34);">
                                        1 stop via Mumbai
                                    </a>
                                    <h6 style="margin-left: 5%; margin-top:-10%">10h 40m</h6>
                                    <h4 style="margin-left: 38%; margin-top:-6%">10:45</h4>
                                    <p style="margin-left: 38%; margin-top:-2%">Singapore </p>
                                    <p style="margin-left: 38%; margin-top:-3%">Changi</p> <img
                                        src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/UK.png?v=8"
                                        width="7%" style="margin-left: -45% ;margin-top:-5%">
                                    <p style="margin-left: -45%">
                                        Vistara</p>
                                    <button class="btn btn-success rounded-pill"
                                        style="margin-left: 60%; margin-top:-20% ;width: 25%;">Select</button>
                                </div>
                            </div>
                        </label>
                    </div>
                   
                </div>
            </div>
        </div>
            <div class="row">
                <div class="container" style=" height: 20px; width: 49%;top: 1350%; position: relative;">
                    <br> <br> <br>
                    <div class="border">
                        <br>
                        <div class=" container">
                            <div class="form-check"> <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" style="margin-left: 15%; margin-top:6%"> <label
                                    class="form-check-label" for="flexRadioDefault1" style="width: 80%; margin-top:5%">
                                    <div class="container">
                                        <h4>19:00</h4>
                                        <p>Hyderabad</p>
                                        <div style="margin-left: 18%; margin-top:-8%">
                                            <a style="border-top: 3px solid rgb(245, 166, 34);">
                                                1 stop via Chennai
                                            </a>
                                            <h6 style="margin-left: 5%; margin-top:-11%">07 h 40 m</h6>
                                            <h4 style="margin-left: 38%; margin-top:-7%">05:10</h4>
                                            <p style="margin-left: 38%; margin-top:-3%">Singapore </p>
                                            <p style="margin-left: 38%; margin-top:-3%">Changi</p> <img
                                                src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=8"
                                                width="7%" style="margin-left: -45% ;margin-top:-5%">
                                            <p style="margin-left: -45%">
                                                IndiGo</p>
                                            <button class="btn btn-success rounded-pill"
                                                style="margin-left: 60%; margin-top:-20% ;width: 25%;">Select</button>
                                        </div>
                                    </div>
                                </label>
                            </div>
                           
                        </div>
                    </div>
                </div>
           
                 -->