<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <%@include file="header.jsp"%> -->
</head>

<body>

    <!-- <%@include file="menu1.jsp"%> -->

    <div id="breadcrumb">
        <div class="container">
            <div class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>About Us</li>
            </div>
        </div>
    </div>

    <div class="aboutus">
        <div class="container">
            <h3> Travel information</h3>
            <hr>
            <div class="col-md-7 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <img src="https://static.toiimg.com/photo/79405406.cms" height="450px" width="150%"
                    class="img-responsive">
                <h2>About Us</h2>
                <p>We are utterly dedicated to crafting bespoke conscious travel experiences. We prefer engaging our
                    clients through personal thorough discussions, practicing our unparalleled expertise in order to
                    design journeys which ultimately turn into unforgettable lifelong memories. Our passion for
                    excellence and rigorous attention to detail simply reinforce the fact that every journey will be
                    harmonious and worry-free, empowering the traveler to explore, be inspired, and truly come to know,
                    respect and fall in love with the culture of a destination. </p>
            </div>

        </div>

    </div>


    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="https://higherlogicdownload.s3.amazonaws.com/SRAINTERNATIONAL/UploadedImages/167e255a-8759-4a2f-92f6-591d6d8f7afb/Catalyst-pictures/Text-body-images/april2021/Picture_2_Travel.jpeg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"></p>
                    <h4>Travel Agency</h4>
                    <p class="card-text">“Travel is the main thing you purchase that makes you more extravagant”. We, at
                        ‘Organization Name’, swear by this and put stock in satisfying travel dreams that make you
                        perpetually rich constantly. </p>

                    <h6>Duration and Destination</h6>
                </div>
            </div>
            <div class="col-1"></div>
            <br>

            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuYKYXXgiSisdL3z9fjxS0kEz6CLpMbvtq6A&usqp=CAU"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"></p>
                    <h4>Importants of Travel </h4>
                    <p class="card-text">Traveling is one of the best way to enhance personal growth. It enables you to
                        do things different from your daily routine activities. When you travel, you step out from your
                        comfort zone to a different environment which makes you become more responsible and gives sense
                        of independence. </p>

                </div>
            </div>

            <div class="col-1"></div>

            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_Z7kw4d5l9fWqamHkuekZvdDQss_OlOsoVQ&usqp=CAU"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"></p>
                    <h4> Time to Travel </h4>
                    <p class="card-text">traveling has been really popular, because of the really good transportation
                        system. People can easily travel across the world. There are lots of people who are traveling
                        the entire world to gain more and more knowledge and experience.
                    </p>


                </div>
            </div>

        </div>


    </div>
    <!-- <%@include file="footer.jsp"%> -->
</body>

</html>