
<div style=" background-color:rgba(228, 228, 221, 0.719)">
    <div class="container p-3" style="border-radius: 40%;">
        <nav class="navbar navbar-expand-lg navbar-light p-1" style="background-color: rgba(135, 172, 205, 0.842);">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="https://img.freepik.com/free-vector/flat-vintage-travel-logo_23-2148177882.jpg?size=338&ext=jpg&ga=GA1.2.609849508.1649337730"
                     class="rounded-circle"   alt="" width="90" height="70" >
                  
                </a>
    
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home"><b>Home</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active "  href="/mytrips"> <b>My Trips</b></a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link active" href="#"></a>
                        </li> -->
                    </ul>
                    <ul class="navbar-nav  mb-6  ">
                    <li class="nav-item">
                        <a class="nav-link active" href="/Login"><b>Login</b></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link active" href="/signup"><b>SignUP</b></a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </div>
    </div>
    <!-- <app-login></app-login> -->