

<div style="background-color: rgb(11, 11, 89);">
    <div class="body" style="background-color:rgb(11, 11, 89) ;">
        <div class="container" style="background-color: rgb(13, 13, 81); height: 20px; width: 60%;">
            <br> <br> <br>
            <h3 class="text-light" style="font-style:oblique;"><b>Hyderabad -> Singapore Flights</b></h3>
            <br>
            <div class="border">
                <br>
                <div class=" container">
                    <div class="form-check"> <input class="form-check-input" type="radio" name="flexRadioDefault"
                            id="flexRadioDefault1" style="margin-left: 15%; margin-top:6%"> <label
                            class="form-check-label" for="flexRadioDefault1" style="width: 80%; margin-top:5%">
                            <div class="container">
                                <h4>06:30</h4>
                                <p>Hyderabad</p>
                                <div style="margin-left: 18%; margin-top:-8%">
                                    <a style="border-top: 3px solid rgb(245, 166, 34);">
                                        1 stop via madhurawada
                                    </a>
                                    <h6 style="margin-left: 5%; margin-top:-8%">07h 35m</h6>
                                    <h4 style="margin-left: 28%; margin-top:-6%">12:35</h4>
                                    <p style="margin-left: 28%; margin-top:-2%">Singapore </p>
                                    <p style="margin-left: 28%; margin-top:-3%">Changi</p> <img
                                        src="https://s3.envato.com/files/4f6bf2be-6984-4c53-82b4-c86bba063a7e/inline_image_preview.jpg"
                                        width="7%" style="margin-left: -45% ;margin-top:-5%">
                                    <p style="margin-left: -45%">
                                        Emirates</p>
                                    <button class="btn btn-success rounded-pill"
                                        style="margin-left: 60%; margin-top:-20% ;width: 25%;">Select</button>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            style="margin-left: 15%; margin-top:1%" checked>
                        <label class="form-check-label" for="flexRadioDefault2" style="width: 80%; margin-top:-2%">
                            <div class="container">
                                <h4>06:30</h4>
                                <p>Hyderabad</p>
                                <div style="margin-left: 18%; margin-top:-8%">
                                    <a style="border-top: 3px solid rgb(245, 166, 34);">
                                        1 stop via madhurawada
                                    </a>
                                    <h6 style="margin-left: 5%; margin-top:-8%">07h 35m</h6>
                                    <h4 style="margin-left: 28%; margin-top:-6%">10:40</h4>
                                    <p style="margin-left: 28%; margin-top:-2%">Singapore</p>
                                    <p style="margin-left: 28%; margin-top:-3%">Changi</p>

                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br>

<div style="background-color: rgb(11, 11, 89);">
    <div class="body" style="background-color:rgb(11, 11, 89) ;">
        <div class="container" style="background-color: rgb(13, 13, 81); height: 20px; width: 60%;">
            <br> <br> <br>
            <h3 class="text-light" style="font-style:oblique;"><b>NewDelhi -> Chennai Flights</b></h3>
            <br>
            <div class="border">
                <br>
                <div class=" container">
                    <div class="form-check"> <input class="form-check-input" type="radio" name="flexRadioDefault"
                            id="flexRadioDefault1" style="margin-left: 15%; margin-top:6%"> <label
                            class="form-check-label" for="flexRadioDefault1" style="width: 80%; margin-top:5%">
                            <div class="container">
                                <h4>08:15</h4>
                                <p>NewDelhi</p>
                                <div style="margin-left: 18%; margin-top:-8%">
                                    <a style="border-top: 3px solid rgb(245, 166, 34);">
                                        No stops one way 
                                    </a>
                                    <h6 style="margin-left: 5%; margin-top:-8%">02h 50m</h6>
                                    <h4 style="margin-left: 28%; margin-top:-6%">12:35</h4>
                                    <p style="margin-left: 28%; margin-top:-2%">Chennai </p>
                                    <p style="margin-left: 28%; margin-top:-3%">MAA</p> <img
                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVWFeUR4tKmbgTBXvVFSNoP45X8oCMFf3bEw&usqp=CAU"
                                        width="7%" style="margin-left: -45% ;margin-top:-5%">
                                    <p style="margin-left: -45%">
                                        Emirates</p>
                                    <button class="btn btn-success rounded-pill"
                                        style="margin-left: 60%; margin-top:-20% ;width: 25%;">Select</button>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            style="margin-left: 15%; margin-top:1%" checked>
                        <label class="form-check-label" for="flexRadioDefault2" style="width: 80%; margin-top:-2%">
                            <div class="container">
                                <h4>08:15</h4>
                                <p>NewDelhi</p>
                                <div style="margin-left: 18%; margin-top:-8%">
                                    <a style="border-top: 3px solid rgb(245, 166, 34);">
                                      No stops one way 
                                    </a>
                                    <h6 style="margin-left: 5%; margin-top:-8%">02h 50m</h6>
                                    <h4 style="margin-left: 28%; margin-top:-6%">12:35</h4>
                                    <p style="margin-left: 28%; margin-top:-2%">Chennai</p>
                                    <p style="margin-left: 28%; margin-top:-3%">MAA</p>

                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br><br><br>

<div style="background-color: rgb(11, 11, 89);">
    <div class="body" style="background-color:rgb(11, 11, 89) ;">
        <div class="container" style="background-color: rgb(13, 13, 81); height: 20px; width: 60%;">
            <br> <br> <br>
            <h3 class="text-light" style="font-style:oblique;"><b>Pune -> Goa Flights</b></h3>
            <br>
            <div class="border">
                <br>
                <div class=" container">
                    <div class="form-check"> <input class="form-check-input" type="radio" name="flexRadioDefault"
                            id="flexRadioDefault1" style="margin-left: 15%; margin-top:6%"> <label
                            class="form-check-label" for="flexRadioDefault1" style="width: 80%; margin-top:5%">
                            <div class="container">
                                <h4>10:25</h4>
                                <p>Pune</p>
                                <div style="margin-left: 18%; margin-top:-8%">
                                    <a style="border-top: 3px solid rgb(245, 166, 34);">
                                         one way  
                                    </a>
                                    <h6 style="margin-left: 5%; margin-top:-8%">01h 10m</h6>
                                    <h4 style="margin-left: 28%; margin-top:-6%">11:30</h4>
                                    <p style="margin-left: 28%; margin-top:-2%">Goa </p>
                                    <p style="margin-left: 28%; margin-top:-3%">GOI</p> <img
                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVWFeUR4tKmbgTBXvVFSNoP45X8oCMFf3bEw&usqp=CAU"
                                        width="7%" style="margin-left: -45% ;margin-top:-5%">
                                    <p style="margin-left: -45%">
                                        Emirates</p>
                                    <button class="btn btn-success rounded-pill"
                                        style="margin-left: 60%; margin-top:-20% ;width: 25%;">Select</button>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            style="margin-left: 15%; margin-top:1%" checked>
                        <label class="form-check-label" for="flexRadioDefault2" style="width: 80%; margin-top:-2%">
                            <div class="container">
                                <h4>10:25</h4>
                                <p>Pune</p>
                                <div style="margin-left: 18%; margin-top:-8%">
                                    <a style="border-top: 3px solid rgb(245, 166, 34);">
                                       one way 
                                    </a>
                                    <h6 style="margin-left: 5%; margin-top:-8%">01h 10m</h6>
                                    <h4 style="margin-left: 28%; margin-top:-6%">11:30</h4>
                                    <p style="margin-left: 28%; margin-top:-2%">Goa</p>
                                    <p style="margin-left: 28%; margin-top:-3%">GOI</p>

                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>












<!-- <p>flights works!</p>
<div class="border">
    <div class="card" style="width: 50rem;">


        <div class="card-body">
            <p class="card-text"></p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    FROM
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="mumbai">Mumbai,India</a></li>
                    <li><a class="dropdown-item" href="Delhi">Delhi,India</a></li>
                    <li><a class="dropdown-item" href="Bangalore">Bangalore,India</a></li>
                </ul>
            </div>
        </div>
        <h4>Delhi </h4>
        <p class="card-text">DEL,Delhi Airport India</p>

    </div>
</div> -->
<!-- <br>
<br>

<div class="card mb-3" style="max-width: 1200px; height: 250px;">
    <div class="row">
        <div *ngFor="let myele of flights" class="card col m-5 p-2">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{myele.image}}" class="img-fluid rounded-start" alt="...">
                    <p class="card-text"><small class="text-muted">{{myele.Title}}</small></p>

                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">{{myele.Heading}}</small></p>
                        <h5 class="card-title">{{myele.Content}}</h5>
                        <p class="card-text">{{myele.Paragraph}}</p>
                        <div class="d-inline p-2 bg-primary white">{{myele.Line}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 1200px;">

    <div class="row">
        <div *ngFor="let myele of Flight" class="card col m-5 p-2">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{myele.image}}">
                    <p class="card-text"><small class="text-muted">{{myele.Title}}</small></p>

                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">{{myele.Heading}}</small></p>
                        <h5 class="card-title">{{myele.Content}}</h5>
                        <p class="card-text">{{myele.Paragraph}}</p>
                        <div class="d-inline p-2 bg-primary white">{{myele.Line}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="border">

    <img src="http://promos.makemytrip.com/images/50x50-Other-23052019.png" class="rounded-circle" alt="...">
    <h5 class="card-title">Chennai Flights</h5>
    <p class="card-text"><small class="text-muted">Via-Delhi,Mumbai,Coimbatore,Madurai
        </small></p>

    <img src="http://promos.makemytrip.com/images/50x50-Ooty-23052019.png" class="rounded-circle" alt="...">
    <h5 class="card-title">Hyderabad Flights</h5>
    <p class="card-text"><small class="text-muted">Via-Chennai,Mumbai,Bangalore,Delhi
        </small></p>

    <img src="https://promos.makemytrip.com/store/SingaporeDT.JPG" class="rounded-circle" alt="...">
    <h5 class="card-title">Kolkata Flights</h5>
    <p class="card-text"><small class="text-muted">Via-Chennai,Mumbai,Bangalore,Delhi
        </small></p>

    <img src="https://promos.makemytrip.com/store/GoaDT.JPG" class="rounded-circle" alt="...">
    <h5 class="card-title">Goa Flights</h5>
    <p class="card-text"><small class="text-muted">Via-Delhi,Mumbai,Ahmedabed,Bangalore,
        </small></p>

    <img src="https://promos.makemytrip.com/store/DelhiDT.JPG" class="rounded-circle" alt="...">
    <h5 class="card-title">Delhi Flights</h5>
    <p class="card-text"><small class="text-muted">Via-Mumbai,Pune,Bangalore, Chennai
        </small></p>

    <img src="https://promos.makemytrip.com/store/BangaloreDT.JPG" class="rounded-circle" alt="...">
    <h5 class="card-title">Delhi Flights</h5>
    <p class="card-text"><small class="text-muted">Via-Delhi,Pune,Mumbai,Kolkata
        </small></p>

    <img src="https://promos.makemytrip.com/store/MumbaiDT.JPG" class="rounded-circle" alt="...">
    <h5 class="card-title">Mumbai Flights</h5>
    <p class="card-text"><small class="text-muted">Via-Delhi,Bangalore,Chennai,Ahmedabed</small>
    </p>
    <img src="https://promos.makemytrip.com/store/PuneDT.JPG" class="rounded-circle" alt="...">
    <h5 class="card-title">pune Flights</h5>
    <p class="card-text"><small class="text-muted">Via-Delhi,Bangalore,Chennai,Ahmedabed
        </small></p>


    <img src="https://promos.makemytrip.com/store/JaipurDT.JPG" class="rounded-circle" alt="...">
    <h5 class="card-title">Jaipur Flights</h5>
    <p class="card-text"><small class="text-muted">Via-Delhi,Pune,Mumbai,Bangalore
        </small></p>







</div> -->





















<!-- <div class="border">

    <div class="row">
        <div class="card mb-3" style="max-width: 100;">
            <div class="row g-0">
                <div *ngFor="let myele of flights" class="card col m-5 p-2">
                    <div class="col-md-4">
                        <img src="{{myele.image}}" hight="40px" width="180">
                    </div>
                    <p class="card-text"><small class="text-muted">{{myele.Title}}</small></p>

                    <div class="col-md-8">
                        <div class="card-body">

                            <p class="card-text"><small class="text-muted">{{myele.Heading}}</small></p>
                            <h5 class="card-title">{{myele.Content}}</h5>

                            <p class="card-text"><small class="text-muted">{{myele.Paragraph}}</small></p>
                            <div class="d-inline  p-2 bg-primary white">{{myele.Line}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-1"></div>
        <div class="row">
            <div class="card mb-3" style="max-width: 100;">
                <div class="row g-0">
                    <div *ngFor="let myele of Flight" class="card col m-5 p-2">
                        <div class="col-md-4">
                            <img src="{{myele.image}}" hight="40px" width="180">
                        </div>
                        <p class="card-text"><small class="text-muted">{{myele.Title}}</small></p>

                        <div class="col-md-8">
                            <div class="card-body">

                                <p class="card-text"><small class="text-muted">{{myele.Heading}}</small></p>
                                <h5 class="card-title">{{myele.Content}}</h5>

                                <p class="card-text"><small class="text-muted">{{myele.Paragraph}}</small></p>
                                <div class="d-inline  p-2 bg-primary white">{{myele.Line}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://promos.makemytrip.com/store//116x116-Desktop-NE.jpg" hight="40px" width="180">
                        <p class="card-text"><small class="text-muted">T&C's Apply</small></p>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">HOLIDAYS </small></p>
                            <h5 class="card-title">Plan a Summer Break in Ladakh!</h5>

                            <p class="card-text"><small class="text-muted">Holidays Packages to Nubra Valley & more
                                    start@just $21.999*!
                                </small></p>
                            <div class="d-inline  p-2 bg-primary white">Book Now</div>
                        </div>
                    </div>
                </div>



                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://promos.makemytrip.com/notification/xhdpi//gsts-116x116-06042022.jpg"
                                hight="40px" width="180">
                            <p class="card-text"><small class="text-muted">T&C's Apply</small></p>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text"><small class="text-muted">INTL FLIGHTS </small></p>
                                <h5 class="card-title">Up to Rs.4,500 OFF* on Flights to Middle East Asi...</h5>

                                <p class="card-text"><small class="text-muted">Book your summer trip with the Great
                                        Summer Travel Sale.
                                    </small></p>
                                <div class="d-inline  p-2 bg-primary white">Book Now</div>
                            </div>
                        </div>
                    </div>



                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://promos.makemytrip.com/notification/xhdpi//Amex-116x116-17082021.jpg"
                                    hight="40px" width="180">
                                <p class="card-text"><small class="text-muted">T&C's Apply</small></p>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text"><small class="text-muted">DOM FLIGHTS </small></p>
                                    <h5 class="card-title">Grab FLAT 15% Instant Discounts* on Domestic Flight...</h5>

                                    <p class="card-text"><small class="text-muted">Valid on American Express Cards
                                        </small></p>
                                    <div class="d-inline  p-2 bg-primary white">View Details</div>
                                </div>
                            </div>
                        </div>








                    </div>


                </div>
            </div>
        </div> -->