<div class="container">

    <div class="border border-info m-2 p-3">

        <h2>Create Ticket</h2>

        {{myform.value | json}}

        <form novalidate [formGroup]="myform">

            <fieldset>

                <div class="form-group">

                    <label>Ticket Title</label>

                    <input formControlName="ticket" type="text" class="form-control">

                    <div *ngIf="myform.controls['ticket'].invalid && myform.controls['ticket'].touched"
                        class="text-primary">

                        <b>* Enter ticket title here</b>

                    </div>

                </div>

                <div class="form-group">

                    <label>Description</label>

                    <input formControlName="des" type="text" class="form-control">

                    <div *ngIf="myform.controls['ticket'].invalid && myform.controls['des'].touched"
                        class="text-primary">

                        <b>*</b>

                    </div>

                </div>

                <div class="mb-3">
                    <div class="dropdown">

                        <label>Priority</label>

                        <select class="form-select" aria-label="Priority">

                            <!-- <option selected>Open this select menu</option> -->

                            <option value="1">LOW</option>

                            <option value="2">HIGHT</option>

                            <option value="3">MEDIUM</option>

                        </select>

                    </div>



                </div>

                <div class="form-group m-5">

                    <input (click)="getValues()" type="button" value="Login">

                </div>

            </fieldset>

        </form>

    </div>

</div>