 <div class="card">
    <img [src]="imgUrl" class="card-img-top" alt="...">
    
    <div class="card-body">
        <h5 class="card-title">{{configs['spayee:title'] |uppercase}} -MRP <span>{{configs['spayee:price']}}</span></h5>
         -->
 <span><b>course Date: </b> {{courseDate|date:'MM/dd/y'}} </span>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
             
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div> 
</div>



<!-- <p>course works!</p> 
 <h4 >Devops</h4> -->

 <div class="container">

    <div class="card" >
         <img class=" card-img-top" [src]="imgUrl" alt="Card image cap">
      <div class="card-body">
        <p class="card-title"> {{configs['spayee:title'] | uppercase}} </p>
        <p class="card-text"> {{configs['spayee:mrp'] }}</p>
  
        <a href="#" class="btn btn-primary">Buy This Course</a>
      </div>
    </div>


    <div class="card" >
        <img class=" card-img-top" [src]="imgUrl" alt="Card image cap">
     <div class="card-body">
       <p class="card-title"> {{configs['spayee:title'] | uppercase}} </p>
       <p class="card-text"> {{configs['spayee:mrp'] }}</p>
 
       <a href="#" class="btn btn-primary">Buy This Course</a>
     </div>
   </div>
  
  </div>




<div class="card" style="width: 20rem;">

    <img src="https://dz8fbjd9gwp2s.cloudfront.net/courses/61aa193f0cf272b4d2eef49a/lvEJIdevopsautomationimplementation03.png"
        class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Deops Automation Implemntation</p>
        <p class="card-text">Leranlytica </p>
        <p class="card-text">$499</p>

    </div>
</div>
<div class="card" style="width: 20rem;">

    <img src="https://dz8fbjd9gwp2s.cloudfront.net/courses/61aaffed0cf2a71c5139fc7c/61aaffed0cf2a71c5139fc7c_scaled_cover.jpg?v=1"
        class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Cheaf of devops Tool</p>
        <p class="card-text">Leranlytica </p>
        <p class="card-text">$399</p>

    </div>

</div>

<div class="card" style="width: 20rem;">

    <img src="https://dz8fbjd9gwp2s.cloudfront.net/courses/61ab04c30cf272041d78452f/XELF8usingjenkinsfordevops0201.jpg"
        class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Using Junckens for devops</p>
        <p class="card-text">Leranlytica </p>
        <p class="card-text">$499</p> -->

    </div>
</div>




<br><br>
<h4>Cloud Computing</h4>
<div class="row">
    <div class="card" style="width: 20rem;">

        <img src="https://dz8fbjd9gwp2s.cloudfront.net/courses/61a9e34f0cf2f90364772b94/61a9e34f0cf2f90364772b94_scaled_cover.jpg?v=1"
            class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Cloud Automation for Devops</p>
            <p class="card-text">Leranlytica </p>
            <p class="card-text">$299</p>

        </div>
    </div>


   





    <!-- <div class="card" style="width: 20rem;">

        <img src="https://dz8fbjd9gwp2s.cloudfront.net/courses/61aa20e00cf2f90364776078/61aa20e00cf2f90364776078_scaled_cover.jpg?v=1"
            class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Azure Data Warehousing</p>
            <p class="card-text">Leranlytica </p>
            <p class="card-text">$299</p>

        </div>
    </div> -->




    <!-- <div class="card" style="width: 20rem;">

        <img src="https://dz8fbjd9gwp2s.cloudfront.net/courses/61adc9790cf29556db8088ee/61adc9790cf29556db8088ee_scaled_cover.jpg?v=1"
            class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">AWS Solution Architect Training</p>
            <p class="card-text">Leranlytica </p>
            <p class="card-text">$99</p>

        </div>
    </div> -->






    <!-- <div class="card" style="width: 20rem;">

        <img src="https://dz8fbjd9gwp2s.cloudfront.net/courses/61af23880cf29556db81488e/61af23880cf29556db81488e_scaled_cover.jpg?v=1"
            class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Solution Cloud Operations</p>
            <p class="card-text">Leranlytica </p>
            <p class="card-text">$99</p>

        </div>
    </div> -->
</div>