<div class="row">
<!-- <div class="card" > -->
   
<div class="container">
    <h4 >Devops</h4>
<div class="card" style="width: 20rem;">

    <img src="https://dz8fbjd9gwp2s.cloudfront.net/courses/61aa193f0cf272b4d2eef49a/lvEJIdevopsautomationimplementation03.png"
        class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Deops Automation Implemntation</p>
        <p class="card-text">Leranlytica </p>
        <p class="card-text">$499</p>

    </div>
</div>

<div class="card" style="width: 20rem;">

    <img src="https://dz8fbjd9gwp2s.cloudfront.net/courses/61aaffed0cf2a71c5139fc7c/61aaffed0cf2a71c5139fc7c_scaled_cover.jpg?v=1"
        class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Cheaf of devops Tool</p>
        <p class="card-text">Leranlytica </p>
        <p class="card-text">$399</p>

    </div>

</div>
</div>
</div>
