<p>listcourses works!</p>
<div class="row">
    <div class="col" *ngFor="let course of cList?.['sub-home'].data">
        <!-- {{course._id | json}} -->
        <app-mycourse [imgid]="course._id" [configs]="course['spayee:resource']">
        </app-mycourse>
    </div>
</div>

<br>

<div class="row">
    <div class="col" *ngFor="let course of dList?.['sub-home'].data">
        <!-- {{course._id | json}} -->
        <app-mycourse [imgid]="course._id" [configs]="course['spayee:resource']">
        </app-mycourse>
    </div>
</div>

<br>

<div class="row">
    <div class="col" *ngFor="let course of eList?.['sub-home'].data">
        <!-- {{course._id | json}} -->
        <app-mycourse [imgid]="course._id" [configs]="course['spayee:resource']">
        </app-mycourse>
    </div>
</div>

<br>

<div class="row">
    <div class="col" *ngFor="let course of fList?.['sub-home'].data">
        <!-- {{course._id | json}} -->
        <app-mycourse [imgid]="course._id" [configs]="course['spayee:resource']">
        </app-mycourse>
    </div>
</div>
<br>


<div class="row">
    <div class="col" *ngFor="let course of gList?.['sub-home'].data">
        <!-- {{course._id | json}} -->
        <app-mycourse [imgid]="course._id" [configs]="course['spayee:resource']">
        </app-mycourse>
    </div>
</div>