
<br><br>
<div class=" p-4 " style="background-color: #333333;">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-2 mb-md-0">
            <ul class="list-unstyled mb-0">
                <li>
                    <a href="#!" style="color: #ffffff; font-size: 16px; text-decoration: none;">About Us</a>
                </li>
                <li>
                    <a href="#!" style="color: #ffffff; font-size: 16px; text-decoration: none;">We're Hiring</a>
                </li>
                <li>
                    <a href="#!" style="color: #ffffff; font-size: 16px; text-decoration: none;">Hire interns for your
                        Company</a>
                </li>
            </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <ul class="list-unstyled">
                <li>
                    <a href="#!" style="color: #ffffff; font-size: 16px; text-decoration: none;">Team Dairy</a>
                </li>
                <li>
                    <a href="#!" style="color: #ffffff; font-size: 16px; text-decoration: none;">Blog</a>
                </li>
                <li>
                    <a href="#!" style="color: #ffffff; font-size: 16px; text-decoration: none;">Our Service</a>
                </li>
            </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-9 col-md-6 mb-4 mb-md-0">
            <ul class="list-unstyled mb-0">
                <li>
                    <a href="#!" style="color: #ffffff; font-size: 16px; text-decoration: none;">Trems & Conditions</a>
                </li>
                <li>
                    <a href="#!" style="color: #ffffff; font-size: 16px; text-decoration: none;">Privacy</a>
                </li>
                <li>
                    <a href="/Contact" style="color: #ffffff; font-size: 16px; text-decoration: none;">Contact Us</a>
                </li>

            </ul>
        </div>
    </div>
    <br>
    <div class="row">

        <div class="col" id="footer-bottom">
            <a href="https://play.google.com/store/apps/details?id=com.internshala.app&amp;referrer=utm_source%3Dplay_footer"
                target="_blank">
                <div class="footer-list-item" id="android_app_container">
                    <!-- <i class="ic-24-playstore"></i> <span>Get Android App</span> -->
                    <button type="button" class="border  px-3 me-2" style="background-color: black; color: #ffffff;">
                        Get Android App
                    </button>
                </div>
            </a>
        </div>
        <!-- <div id="social_media_container">
                <a class="social_media_link_footer" href="https://www.instagram.com/internshala/?utm_source=IS_footer" target="_blank"><i class="ic-24-instagram"></i></a>
                <a class="social_media_link_footer" href="https://twitter.com/Internshala?utm_source=IS_footer" target="_blank"><i class="ic-24-twitter"></i></a>
                <a class="social_media_link_footer" href="https://www.youtube.com/c/internshalaofficial?utm_source=IS_footer" target="_blank"><img class="img-icon" src="/static/images/common/yt_icon_mono_dark.png"></a>
                <a class="social_media_link_footer" href="https://www.linkedin.com/company/internshala/?utm_source=is-footer" target="_blank"><i class="ic-24-linkedin"></i></a>
            </div> -->


        <div class="container col p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">

                <!-- Instagram -->
                <a class="btn btn-primary btn-floating m-1" href="#!"
                    role="button"><i class="bi bi-instagram"></i></a>

                <!-- Twitter -->
                <a class="btn btn-primary btn-floating m-1"  href="#!"
                    role="button"><i class="bi bi-twitter"></i></a>

                <!-- youtube -->
                <a class="btn btn-primary btn-floating m-1" href="#!"
                    role="button"><i class="bi bi-youtube"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-primary btn-floating m-1" href="#!"
                    role="button"><i class="bi bi-linkedin"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>


        <div class="col" id="copyright"
            style="text-align: right; color: #ffffff; font-size: 16px; text-decoration: none;">
            © Copyright 2022 Internshala
        </div>
        <div class="clear">
        </div>

    </div>
</div>