<div class="border border-info m-2 p-2">
    <h2>Treval Contact Page</h2>

    {{myform.value | json}}

    <br>
    <br>
    <pre>Dirty? {{ myform.controls['fname'].dirty }}</pre>
    <pre>pristine? {{ myform.controls['fname'].pristine }}</pre>
    <pre>touched? {{ myform.controls['fname'].touched }}</pre>
    <pre>untouched? {{ myform.controls['fname'].untouched }}</pre>
    <pre>valid? {{ myform.controls['fname'].valid }}</pre>
    <pre>invalid? {{ myform.controls['fname'].invalid }}</pre>

    <form novalidate [formGroup]="myform">

        <div class="form-group">
            <label>First Name</label>
            <input required placeholder="Please enter your first name" formControlName="fname" type="text"
                class="form-control">
            <div *ngIf="myform.controls['fname'].touched 
                        && myform.controls['fname'].invalid" class="text-danger">
                <b>* First Name is required field</b>
            </div>


            <div class="form-group">
                <label>Last Name</label>
                <input formControlName="lname" type="text" class="form-control">
                <div *ngIf="myform.controls['lname'].touched 
                && myform.controls['lname'].invalid" class="text-danger">
                    <b>* Last Name is required field</b>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input formControlName="email_travel" type="email" class="form-control">

            <div class="text-danger" *ngIf="myform.controls['email_travel'].touched 
       && myform.controls['email_travel'].invalid">
                <p *ngIf="myform.controls['email_travel'].errors?.['required']">Email is required</p>
                <p *ngIf="myform.controls['email_travel'].errors?.['email']">Please enter valid email</p>
                <p *ngIf="myform.controls['email_travel'].errors?.['minlength']">Email min length should 5 char</p>

            </div>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input formControlNam="password" type="password" class="form-control">
        </div>



        <div class="form-group">
            <label>Language</label>
            <select formControlName="languages" class="form-control">
                <option value="">Please select a language</option>
                <option [value]="lang" *ngFor="let lang of languages">{{lang}}</option>
            </select>
        </div>

        <div class="form-group m-5">
           
            <button class="btn btn-primary" (click)="getValues()">Submit</button>
            <button mat-button mat-dialog-close>Cancle</button>
        </div>
    </form>

</div>