<!-- <ul>
    <h2> I am *ngSwitch case</h2>
    <li *ngFor="let item of person" [ngSwitch]="item.country">
        <div *ngSwitchCase="'USA'" class="text-primary"> I am in usa </div>
        <div *ngSwitchCase="'UK'" class="text-danger"> I am in uk </div>

        <div *ngSwitchCase="'CANADA'" class="text-info"> I am in canada </div>


        <div *ngSwitchDefault class="text-success"> I am not part of any country</div>

    </li>
</ul>


<ul>
    <h2>I am ngStyle with switch case in .ts file </h2>
    <li *ngFor="let item of person" [ngSwitch]="item.country">
        <div [ngStyle]="{'color': getColors(item.country)}"> my Name is {{item.name}} and I am from {{item.country}}
        </div>
    </li>
</ul>
<ul>
<h2>I am ngClass dynamics</h2>
<li *ngFor="let item of person">

    <div [ngClass]="{
            'text-primary':  item.country === 'USA',

            'text-info':  item.country === 'UK'
        }"> my Name is {{item.name}} and I am from {{item.country}}
    </div>
</li>
</ul> -->