<!-- <p>train works!</p>

<h6> PRODUCT OFFERING</h6>
<p class="card-text">Flights, International Flights, Charter Flights, Hotels, International Hotels, Homestays and
    Villas, Activities, Holidays In India, International Holidays, Book Hotels From UAE, myBiz for SME Travel, Book
    Online Cabs, Book Bus Tickets, Book Train Tickets, Cheap Tickets to India, Book Flights From US, Book Flights
    From UAE, Trip Planner, Gift Cards, Trip Money, Trip Ideas, Travel Blog, PNR Status, One Way Cab
</p>

<h6>MAKEMYTRIP</h6>
<p class="card-text">About Us, Investor Relations, Careers, Corporate Travel, MMT Foundation, CSR Policy, myPartner
    - Travel Agent Portal, Foreign Exchange, List your hotel, Partners- Redbus, Partners- Goibibo</p>
<h6>ABOUT THE SITE</h6>
<p class="card-text">Customer Support, Payment Security, Privacy Policy, User Agreement, Terms of Service, More
    Offices, Make A Payment, Work From Home</p>
<h6>IMPORTANT LINKS

</h6>
<p class="card-text">Bangalore to Mysore Trains, Mumbai to Goa Trains, Pune to Mumbai Trains, Delhi to Jaipur
    Trains, Hyderabad to Tirupati Trains, Delhi to Agra Trains, Bangalore to Goa Trains, Bangalore to Chennai
    Trains, Mumbai to Ahmedabad Trains, Mumbai to Delhi Trains, Pune to Goa Trains, Hyderabad to Bangalore Trains,
    Delhi to Amritsar Trains, Jaipur To Goa Trains, Kolkata To Goa Trains, Lakhimpur To Lucknow Train
</p>
<h6>QUICK LINKS</h6>
<p class="card-text">Irctc, Southern Railway, Western Railway, RCTC Seat Availability, Railway Time Table, Indian
    Railway Stations, Taktal Reservation, Garib Rath, Shatabdi Express, Duronto Express, Rajdhani Express, Live
    Train Status, Gomti Express, Shalimar Express, Vande Bharat Express, Gatimaan Express, Gitanjali Express, Sabari
    Express, Avadh Express, Vivek Express, Tejas Express, Intercity Express, Tapti Ganga Express</p>

<div class="container">
    <div class="border">


        <div class="col-1"></div>
        <h6>Book Train Tickets Without Any Hassle</h6>
        <p class="card-text">Traveling by train is a popular choice for both short commutes and longer journeys, and for
            a good reason. With over a thousand routes connecting cities in India, traveling by train is the most
            convenient mode of travel. The combination of price, convenience, and speed makes train travel a sweet spot
            for discerning travelers. Travelers can now search routes, check fares and book train tickets with
            MakeMyTrip’s train booking system. Moreover, you can also use the MakeMyTrip’s app for easy access to train
            tickets booking. Planning a trip across India should be fun and easy. That’s why, MakeMyTrip guarantees a
            hassle-free booking process for booking your train tickets. You can have your train tickets book on
            MakeMyTrip from the comfort of your homes.</p>
        <div class="col-1"></div>
        <h6>Easy IRCTC Train Booking</h6>
        <p class="card-text">Indian Railways is among the world’s largest rail networks with an operating route length
            of more than 65,000 km. IRCTC (Indian Railway Catering and Tourism Corporation) is the face of India's
            online train tickets booking system. MakeMyTrip is the leading portal for booking IRCTC train tickets online
            which is offering the most convenient ways to book train tickets, check train schedule, train availability,
            and view live train status. IRCTC has been the most used website for train tickets booking. It has seen the
            largest footfall in their websites and thus to make the experience even better for the customers we have
            stepped in to make it an easy solution. With us, you can now book train tickets with confirmed status, add
            meals and even grab great deals on booking.</p>

        <div class="divider py-1 bg-primary"></div>
        <div class="col-1"></div>
        <h6>Step-by-step Guide to Online Train Ticket Booking with MakeMyTrip</h6>
        <p class="card-text">Having confusion on how to book your train tickets online? process of booking your tickets
            in simple easy steps.
            Step 1: Log in to our website and select the train icon. Under the ‘book train tickets’ section, choose your
            city and its station where you will depart from and arrive at.

            Step 2: Then select the date of departure and choose from the preferred class of train travel. You can
            choose between Sleeper Class, Third Class, First AC, Second AC, Third AC, AC Chair car, an...</p>
        <div class="col-1"></div>
        <h6>Check Your PNR Status</h6>
        <p class="cord-text">Apart from providing e-tickets by mail, MakeMyTrip also sends you the relevant updates on
            your registered number over text and WhatsApp. When you book train tickets each ticket holder gets a unique
            PNR, an acronym for Passenger Name Record, to check the status of the train and booking details. With the
            help of PNR enquiry, you can check live train status from the comfort of your home. With PNR enquiry, you
            will get to know whether your ticket is confirmed or if will you get a seat only if someon.</p>
        <div class="divider py-1 bg-primary"></div>
        <div class="col-1"></div>
        <h6>Q. Why Book Train Tickets Online With MakeMyTrip?</h6>
        <p class="text-cord">A. MakeMyTrip, India's leading travel portal is the best way to book train tickets online.
            No matter where you are in the country, make a hassle-free railway reservation from us using your computer
            or smartphone. Along with it, you can avail exciting discounts on your first time of booking but also get
            them on the following rail tickets. Additionally, you will have all the updated information of the seats and
            classes of trains that are available to book.</p>

    </div>
</div> -->